jQuery.fn.parseAsMarkdown = function( window, jQuery ){
	jQuery = $;
	var text = $(this).val();
	var newval;
	text = text.split('\n');
	for( var i=0;i<text.length;i++ ){

		var line = text[i].trim();

		if( line.match(/#(.*)/) ){
			newval = line.match(/#(.*)/);
			text[i] = '<h1>' + newval[1] + '</h1>';
		}
		if( line.match(/##(.*)/) ){
			newval = newval = line.match(/##(.*)/);
			text[i] = '<h2>' + newval[1] + '</h2>';
		}
		if( line.match(/###(.*)/) ){
			newval = newval = line.match(/###(.*)/);
			text[i] = '<h3>' + newval[1] + '</h3>';
		}
		if( line.match(/^[-\*]\s(.*)/) ){
			var txt = '';
			if(i==0 || !text[i-1].match(/^.*<li>.*<\/li>$/) ){
				txt = '<ul>';
			}
			var arr = line.match(/^[-\*]\s(.*)/);
			txt += '<li>' + arr[1] + '</li>';
			if( i+1 >= text.length || !text[i+1].match(/^[-\*]\s.*/) ){
				txt += '</ul>';
			}
			text[i] = txt;
		}
		
		if(line.match(/^[\d].\s(.*)/)){
			var txt = '';
			if(i==0 || !text[i-1].match(/^.*<li>.*<\/li>$/) ){
				txt = '<ol>';
			}
			var arr = line.match(/^[\d].\s(.*)/);
			txt += '<li>' + arr[1] + '</li>';
			if( i+1 >= text.length || !text[i+1].match(/^[\d].\s(.*)/) ){
				txt += '</ol>';
			}
			text[i] = txt;
		}
		
	}
	
	// Add spaces back
	for(var i=0;i<text.length;i++){
		
		var prev, next;
		// console.log( typeof(text[i-1]) )
		if( typeof(text[i-1]) !== 'undefined' ){
			prev = text[i-1].match(/</) && text[i-1].match('<h');
		} else {
			prev = true;
		}
		if( typeof(text[i+1]) !== 'undefined' ){
			next = text[i+1].match(/</);
		} else {
			next = true;
		}

		if( !text[i].match('<') && (!prev || !next) ){
			text[i] = text[i] + '<br>';
		}
	}
	return text.join('\n');
}

$(document).ready(function() {
	$(".markdown-editor").each(function(){
		var html = $(this).find('.markdown-input').parseAsMarkdown();
		$(this).find('.markdown-preview').html(html);
		
		var editor = $(this);
		
		$(this).find('.markdown-input').on('keyup',function(){
			var html = editor.find('.markdown-input').parseAsMarkdown();
			editor.find('.markdown-preview').html(html);
		});
	})
});


function reloadMarkdown(){
		$(".markdown-editor").each(function(){
			var html = $(this).find('.markdown-input').parseAsMarkdown();
			$(this).find('.markdown-preview').html(html);
			
			var editor = $(this);
			
			$(this).find('.markdown-input').on('keyup',function(){
				var html = editor.find('.markdown-input').parseAsMarkdown();
				editor.find('.markdown-preview').html(html);
			});
		});
}